/*

RESET

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*

HEADER

*/

body{
    font-family: 'Fredoka', sans-serif;
    


}

h1{
    color: #E43170;
    padding: 20px;
    margin-bottom: 15px;
}

.first-part{
    text-align: center;
}

.container{
    width: 930px;
    
    margin: auto;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}



img{
    height: 80px;
    float: left;
}

.columns > *{
    
    width: calc(100% / 3);

}

.columns{
    margin-top: 30px;
}


.single-columns{
    width: 300px;
    background-color: black;
    float: left;
    border-color: red;
    margin-left: 5px;
    margin-right: 5px;

    
    
    
}



.name{
    color: white;
}

.role{
    color: white;
}

.email{
    color: aqua;
}

